<!-- <div class="div">Jestem divem</div>
<div class="div">Jestem divem</div>
<div class="div">Jestem divem</div>
<div class="div">Jestem divem</div>

<a class = "a">inline </a>
<a class = "a">inline </a>
<a class = "a">inline </a>
<a class = "a">inline </a> -->

<h1 [ngClass] ="{'highlight': isVisible}">Dashboard</h1>



<p *ngIf="isVisible">Heading has been highlighted</p> //podłączam to co wpisałem w ts
//do zmiennej odnoszę się w cudzysłowiu

<button (click)="onButtonClick()">Click Me!</button>
